@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This Website has been created by David NGUYEN & Leo CHABERT and is powered with ASP.Net.
    <br />
    <br />
    We do not own the rights of the games.
    <br />
    This is only a catalogue webstite, we do not provide any commercial services.
</p>