@page
@model UpdateModel
@{
    ViewData["Title"] = "Update Game";
}
<h1>@ViewData["Title"]</h1>

<p>
    <form method="post">
        <label>Game Name</label>
        <select name="GameNameSelected" class="form-control input-lg">
            <option value="0">Select Game</option>
            @foreach(var game in Model.GameList)
            {
                <option value=@game.GameName>@game.GameName</option>
            }
        </select>
        <label>New Game Name</label>
        <input name="GameName" type="text" class="form-control input-lg" aria-describedby="GameName" placeholder="Game Name" required/>
        
        <label>New Image URL</label>
        <input name="URL" type="text" class="form-control input-lg" placeholder="URL" required>
        
        <label>New Game Description</label>
        <input name="Description" type="text" class="form-control input-lg" placeholder="Description" required>
        
        <button type="submit" class="btn btn-info" value="Save">Update</button>
    </form>
</p>
